h1{
    font-family: 'Macondo', cursive ! important;
    font-weight: 700 !important;
    text-transform: uppercase;
    color: #111721;
    font-size: 6rem !important;
    line-height: 4.25rem !important;
}
h3{
	font-family: 'Macondo', cursive ! important;
    font-weight: 700 !important;
    text-transform: uppercase;
    color: #000000;
}
p{
    font-family: 'Roboto', sans-serif !important;
    color: hsl(0,0%,0%)!important;
}
.card-title{
    font-family: 'Macondo', cursive ! important;
    font-size: 2rem !important;
}

.container-fluid{
    padding: 10 !important;
}
.navbar{background: #536976;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #292E40, #536976);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #000000, #536976); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;}
.logo{
    height: auto;
    max-width: 80px;}

.nav-item{
    font-size: 18px!important;
}

.nav-link{
    font-family: 'Macondo', cursive !important;
    font-weight: 400 !important;
    color: hsl(100,100%,100%)!important;
    transition-property: font-weight !important;
    transition-duration: 250ms;
    background-color: hsla(100, 100%, 100%, 0);
}


.nav-link:hover{
    background-color: hsl(100, 100%, 100%);
    color: hsl(0, 0%, 0%)!important;
    font-weight: 800 !important;
}



.form-control{
    font-family: 'Bebas Neue', cursive !important;
    border: none !important;
}
.txt-color{
    color: hsl(0,0%,0%)!important;
}


.text-muted{
    color:#110721 !important;
}
.cta-width{
    max-width: 76vw;
    margin: auto;
}
body{ background: #A8C0F4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #A8C0F4, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #fffcda, #7C9FEA); }/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


@media(min-width: 768px){
    h1{
        font-size: 8rem !important;
        line-height: 5.5rem !important;
        margin-top: 3.5rem !important;
    }
    .ratio {
        width: 90vw !important;
        margin: auto !important;
      }
    .cta-width-md{
        max-width: 28vw;
        margin: auto;
    }
    }

@media(min-width: 992px){
    h1{
        font-size: 11rem !important;
        line-height: 8.5rem !important;
        margin-top: 8rem !important;
    }
.ratio {
    width: 80% !important;
    margin: auto !important;
  }
  .container, .container-lg, .container-md, .container-sm {
    max-width: 80vw !important;
  }
  .pl-lg{
    padding-left: 20px !important;
  }
  .cta-width-lg{
    max-width: 30vw;
    margin: auto;
}
}

@keyframes hue-rotate{
    0% { 
        filter:hue-rotate(0) contrast(1);;}
    50%{ 
        filter: hue-rotate(45deg) contrast(2);}
    100%{
        filter:hue-rotate(0) contrast(1);;
    }
}