
.navbar{  background: #77A1D3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.nav-link{
    font-family:  "Lucida Bright" "cursive"  !important;
   color: rgba(245,0,39,1.00);
    font-weight: 400;
    transition-property: font-weight;
    transition-duration: 2s;
    transition-delay: 3ms;
}

.nav-link:hover{
    font-weight: 700;
}
.bgdark{
    background-color: darkslategrey;
}
.foot-bg{ background: #CC95C0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #7AA1D2, #DBD4B4, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	
	
   
}
.high{
    height:100px;
}
.navbar-brand{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, 'sans-serif'!important;
    font-size: 30px;
    color: rgba(0,0,0,1.00) !important;
}

.translateDA div{
    background: url("../week09/imgs/db.png");
    background-size: contain;
    opacity: .85;
}

.translateDA .imgB:hover{
    transform: translate(25px);
}
.translateDC div{
    background: url("../week09/imgs/bb_.png");
    background-size: contain;
    opacity: .85;
}

.translateDC .imgB:hover{
    transform: translate(25px);
}
.translateDE div{
    background: url("../week09/imgs/ob2.png");
    background-size: contain;
    opacity: .85;
}

.translateDE .imgB:hover{
    transform: translate(25px);
}

.imgS:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
.translateQ div{
    background: url("../week09/imgs/mcb.png");
    background-size: contain;
}

.translateQ .imgB:hover{
    transform: translate(-25px);
}
.translateGA div{
    background: url("../week09/imgs/ob.png");
    background-size: contain;
    opacity: .85;
}

.translateGA .imgB:hover{
    transform: translate(25px);
}
.translateGC div{
    background: url("../week09/imgs/jb.png");
    background-size: contain;
    opacity: .85;
}

.translateGC .imgB:hover{
    transform: translate(25px);
}
.translateGE div{
    background: url("../week09/imgs/mb.png");
    background-size: contain;
    opacity: .85;
}

.translateGE .imgB:hover{
    transform: translate(25px);
}
.imgs{
    opacity: .3;
}


